
<div class="container">
  <div class="d-flex">
    <div class="profile-img mr-3" [style.background]="user?.img ? 'url('+user.img+')':'url('+'assets/img/default.png'+')'"></div>
    <div class="">
      <h1 class="mat-title">{{user?.name}}
        <button mat-button mat-flat-button color="primary">
          <mat-icon>settings</mat-icon>
          update profile
        </button>
      </h1>
      <!-- <div class="mat-subtitle mat-h3">
        {{user.name}}
      </div> -->
      <div class="sub-content">
        <a class="mat-h3" color="primary">{{posts?.length}} post</a>
        <a class="mat-h3" color="primary">
          {{user?.followers.length ? user?.followers.length :'0' }}
          followers
        </a>

        <a class="mat-h3" color="primary">
          {{user?.following.length ? user?.following.length :'0' }}
          followings
        </a>

      </div>
    </div>
  </div>
  <div class="grid ml-auto" cols="3" gutterSize="15">
    <div class=" my-2 d-flex align-center">
      <div color="secondary" class="mat-subtitle my-2 d-flex align-center" style="margin-right: 20px;">
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">grid_on</mat-icon>
        &nbsp; POSTS
      </div>
      <div color="secondary" class="mat-subtitle my-2 d-flex align-center">
        <mat-icon aria-hidden="false" aria-label="Example home icon" color="primary">live_tv</mat-icon>
        &nbsp;IGTV
      </div>
    </div>
    <hr class="my-2">
    <h6 class="mat-h2">More post from {{user?.name}}</h6>
    <hr class="my-2">
    <app-grid [posts]="posts"></app-grid>
  </div>



</div>
