.profile-img{
  background-size: cover !important;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 100px;
}


.sub-content a{
  margin-right: 15px;
}


.grid{
  margin-top: 60px;
}
