.card-1{
  width: 60%;
}

.comment{
  width: 40%;
}

.comment-detail{
  display: flex !important;
  padding: 0;
  margin-bottom: 100px;
}

.card-1 img{
  width: 100% !important;
}

.header-image {
  background-size: cover !important;
}

.mat-card-header-text {
  display: none !important;
  margin: 0px 0px !important;
}

/* .like{
  position: absolute;
  bottom: 90px;
  width: 39%;
}
.comment-p{
  margin-bottom: 30px;
}

form{
  margin-top: 30px !important;
} */
