<div class="sidebar-wrapper">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="my-image" [style.background]="localUser.img ? 'url('+localUser.img+')':'url('+'assets/img/default.png'+')'"></div>
      <mat-card-title> <a routerLink="/my-profile">{{localUser.name}}</a></mat-card-title>
      <mat-card-subtitle>{{localUser.username}}</mat-card-subtitle>
    </mat-card-header>
    <div class="d-flex space-between">
      <h5>Suggestions For You</h5>
      <h5>See All</h5>
    </div>
    <div *ngFor="let user of users">
      <span *ngIf="!user.following.includes(localUser._id) && !user.followers.includes(localUser._id) && user._id !== localUser._id">
        <div class="d-flex space-between">
          <mat-card-header>
            <div mat-card-avatar class="header-image" [style.background]="'url('+'assets/img/'+'default'+'.png'+')'"></div>
            <mat-card-title>
              <a [routerLink]="'/profile/'+user._id">{{user.name}}</a>
            </mat-card-title>
            <mat-card-subtitle class="my-2" *ngIf="!localUser.followers.includes(user._id)"></mat-card-subtitle>
            <mat-card-subtitle *ngIf="localUser.followers.includes(user._id)"> Follows You</mat-card-subtitle>
          </mat-card-header>
          <app-follow [user]="user"></app-follow>
        </div>
      </span>
    </div>


  </mat-card>
  <div class="d-flex space-between">
    <h5 class="mat-body-1">About</h5>
    <h5 class="mat-body-1">Contact</h5>
    <h5 class="mat-body-1">Policy</h5>
    <h5 class="mat-body-1">Advertise</h5>
    <h5 class="mat-body-1">Policy</h5>
  </div>
</div>
